.idea
.ipynb_checkpoints
.mypy_cache
.ruff_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
*.db
*.db-shm
*.db-wal
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
*.egg-info
